pip install allennlp==1.0.0 
pip install allennlp-models==1.0.0
pip install certifi==2020.6.20
pip install chardet==3.0.4
pip install click==7.1.2
pip install Flask==1.1.2
pip install Flask-SQLAlchemy==2.4.4
pip install gunicorn==20.0.4
pip install idna==2.10
pip install itsdangerous==1.1.0
pip install Jinja2==2.11.2
pip install MarkupSafe==1.1.1
pip install pandas==1.1.2
pip install psycopg2==2.8.6
pip install python-dateutil==2.8.1
pip install pytz==2020.1
pip install requests==2.24.0
pip install six==1.15.0
pip install SQLAlchemy==1.3.19
pip install urllib3==1.25.10
pip install Werkzeug==1.0.1
pip install pip==21.3.1
